upstream kibana {
    server 127.0.0.1:5601 fail_timeout=0;
}

server {
    server_name kibana;
    listen {{kibana_http_port}};
    root /opt/kibana/www;

    location /app/kibana {
	auth_basic "Restricted Content";
        auth_basic_user_file /etc/nginx/.htpasswd;
        try_files $uri @kibana;
    }

    location / {
       auth_basic off;
       allow all; # Allow all to see content
       proxy_pass http://kibana; 
    }

    location @kibana {
	auth_basic "Restricted Content";
        auth_basic_user_file /etc/nginx/.htpasswd;
        proxy_pass http://kibana;
    }
}
