server {
    server_name _;
    listen {{kibana_http_port}};
    root /opt/kibana/www;

    location /app/kibana {
       auth_basic "Restricted Content";
       auth_basic_user_file /etc/nginx/.htpasswd;
       proxy_pass http://localhost:5601;
    }

    location / {
       auth_basic "Restricted Content";
       auth_basic_user_file /etc/nginx/.htpasswd;
       proxy_pass http://localhost:5601;
    }

}
