[submodule "roles/rabbitmq_server"]
	path = roles/rabbitmq_server
	url = https://github.com/marcusdb/ansible-rabbitmq
[submodule "roles/ansible-flyway"]
	path = roles/ansible-flyway
	url = https://github.com/marcusdb/ansible-flyway
[submodule "roles/mysql"]
	path = roles/mysql
	url = https://github.com/marcusdb/mysql
[submodule "roles/mongodb"]
	path = roles/mongodb
	url = https://github.com/marcusdb/ansible-role-mongodb
[submodule "roles/ansible-role-nvm"]
	path = roles/ansible-role-nvm
	url = https://github.com/moviedo/ansible-role-nvm
