[submodule "roles/rabbitmq_server"]
	path = roles/rabbitmq_server
	url = https://github.com/marcusdb/ansible-rabbitmq
[submodule "roles/ansible-flyway"]
	path = roles/ansible-flyway
	url = https://github.com/marcusdb/ansible-flyway
