[Unit]
Description=Graphite API service
After=network.target

[Service]
ExecStart=/usr/local/bin/gunicorn -w2 graphite_api.app:app -b 0.0.0.0:8888
Restart=on-failure
User=root
Group=adm
TimeoutStartSec=20
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

