{
  "carbonHost":   "127.0.0.1",
  "carbonPort":   2003,
  "scriptPath":   "/opt/hoardd/scripts",
  "fqdn":         "{{serverName}}",
  "sampleInterval": 10,
  "sendEach": 6,
  "maxFailedSens": 10000,
  "namespace": "hoardd"
}