{
  "carbonHost":   "{{carbonHost}}",
  "carbonPort":   {{carbonPort}},
  "scriptPath":   "/opt/hoardd/scripts",
  "fqdn":         "{{ansible_hostname}}",
  "sampleInterval": 10,
  "sendEach": 6,
  "maxFailedSens": 10000,
  "namespace": "hoardd"
}